{
    "ospf": {
        "process-id": [
            {
                "id": {{ ospf_process }},
                "area": [
                    {
                        "area-id": {{ interface_area }}
                    }
                ]
            }
        ]
    }
}